annotated-types==0.7.0
certifi==2026.1.4
charset-normalizer==3.4.4
cosl==1.4.0
idna==3.11
importlib_metadata==8.7.1
opentelemetry-api==1.39.1
ops==3.5.0
ops-lib-pgsql==1.4
pgconnstr==1.0.1
pydantic==2.12.5
pydantic_core==2.41.5
PyYAML==6.0.3
requests==2.32.5
responses==0.25.8
setuptools==78.1.1
tenacity==9.1.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
websocket-client==1.9.0
zipp==3.23.0
