name: Promote Bundle

on:
  workflow_dispatch:
    inputs:
      destination-channel:
        type: choice
        description: 'Destination Channel'
        options:
          - k8s/beta
          - k8s/candidate
          - k8s/stable

jobs:
  promote-livepatch-operator-k8s-bundle:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Bundle
        uses: canonical/charming-actions/upload-bundle@main
        with:
            credentials: "${{ secrets.CHARMCRAFT_AUTH }}"
            tag-prefix: "bundle"
            bundle-path: ./bundle
            github-token: "${{ secrets.GITHUB_TOKEN }}"
            channel: ${{ github.event.inputs.destination-channel }}
